<!DOCTYPE html>
<html lang="<%= locale.code %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locale.install.title %></title>
    <link rel="stylesheet" href="/assets/reset.css" />
    <link rel="stylesheet" href="/assets/panel.css" />
  </head>
  <body>
    <form action="/install" id="installForm" class="form" method="post">
      <h1 class="form__title"><%= locale.install.introduction %></h1>
      <h2 class="form__subtitle"><%= locale.install.authorStep %></h2>
      <div class="inputBox">
        <label for="userName"><%= locale.install.username %></label>
        <input required type="text" id="userName" name="user[name]" />
      </div>
      <div class="inputBox">
        <label for="userDescription"><%= locale.install.description %></label>
        <textarea
          required
          id="userDescription"
          name="user[description]"
        ></textarea>
      </div>
      <div class="inputBox">
        <label for="userEmail"><%= locale.install.email %></label>
        <input required type="email" id="userEmail" name="user[email]" />
      </div>
      <div class="inputBox">
        <label for="userPassword"><%= locale.install.password %></label>
        <input
          required
          type="password"
          id="userPassword"
          name="user[password]"
        />
      </div>
      <h2 class="form__subtitle"><%= locale.install.websiteStep %></h2>
      <div class="inputBox">
        <label for="websiteName"><%= locale.install.websiteName %></label>
        <input required type="text" id="websiteName" name="website[name]" />
      </div>
      <div class="inputBox">
        <label for="websiteURL"><%= locale.install.websiteURL %></label>
        <input required type="url" id="websiteURL" name="website[url]" />
      </div>
      <div class="inputBox">
        <label for="websiteDescription"
          ><%= locale.install.websiteDescription %></label
        >
        <textarea
          required
          id="websiteDescription"
          name="website[description]"
        ></textarea>
      </div>
      <h2 class="form__subtitle"><%= locale.install.databaseStep %></h2>
      <div class="inputBox">
        <label for="databaseName"><%= locale.install.databaseName %></label>
        <input required type="text" id="databaseName" name="database[name]" />
      </div>
      <div class="inputBox">
        <label for="databaseUser"><%= locale.install.databaseUser %></label>
        <input required type="text" id="databaseUser" name="database[user]" />
      </div>
      <div class="inputBox">
        <label for="databaseHost"><%= locale.install.databaseHost %></label>
        <input required type="text" id="databaseHost" name="database[host]" />
      </div>
      <div class="inputBox">
        <label for="databasePort"><%= locale.install.databasePort %></label>
        <input
          required
          type="number"
          value="3306"
          id="databasePort"
          name="database[port]"
        />
      </div>
      <div class="inputBox">
        <label for="databasePassword"
          ><%= locale.install.databasePassword %></label
        >
        <input
          required
          type="text"
          id="databasePassword"
          name="database[password]"
        />
      </div>
      <button class="submit" id="submitButton" type="submit">
        <span class="text"><%= locale.install.submit %></span>
        <img
          style="display: none"
          class="loading"
          src="/assets/sync-alt.svg"
          alt="loading"
        />
      </button>
    </form>
    <script src="/assets/install.js" defer></script>
  </body>
</html>
